
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#piano {
  background-color: #1d1e22;
  width: 992px;
  height: 290px;
  margin: 80px auto;
  padding: 90px 20px 0 20px;
  position: relative;
  border-radius: 10px;
}

.keys {
  background-color: #040404;
  width: 949px;
  height: 180px;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  position: relative;
  width: 41px;
  height: 175px;
  margin: 2px;
  float: left;
  border-radius: 0 0 3px 3px;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffd51e;
  box-shadow: 0 0 1rem #ffd51e;
}

kbd {
  display: block;
  font-size: 3rem;
  color: #ffd51e;
  text-align: center;
  padding-top: 100px;
}

.sound {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #040404;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}

.key.black--key::after {
  background-color: #040404;
  content: "";
  top: 0px;
  position: absolute;
  left: -18px;
  width: 32px;
  height: 100px;
  border-radius: 0 0 3px 3px;
}

.logo {
  width: 200px;
  position: absolute;
  top: -50px;
}

@media (max-width: 768px) {
  #piano {
    width: 358px;
  }

  .keys {
    width: 318px;
  }

  .logo {
    width: 200px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  #piano {
    width: 675px;
  }

  .keys {
    width: 633px;
  }
}